{{!< default}}
<div class="background-contain">
	<div class="container">
		<div class="jumbotron home-jumbo"><img src="/images/sidechain-logo.svg" width="160">
			<h1>Demo Music Blog</h1>
			<p>This is a <a href='http://keystonejs.com' target='_blank'>Sidechain</a> website.</p>
			<hr>
		</div>
	</div>
</div>
<div class="container stories">
	<div class="row">
		<div class="col-xs-12 col-md-4">
			<img src="/images/story-1.jpg">
			<div class="caption">
				<h3>DEMO STORY</h3>
				<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
				<p><a href="#" class="btn btn-primary story-btn" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<img src="/images/story-2.jpg">
			<div class="caption">
				<h3>DEMO STORY</h3>
				<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
				<p><a href="#" class="btn btn-primary story-btn" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			</div>
		</div>
		<div class="col-xs-12 col-md-4">
			<img src="/images/story-3.jpg">
			<div class="caption">
				<h3>DEMO STORY</h3>
				<p>Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. </p>
				<p><a href="#" class="btn btn-primary story-btn" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
			</div>
		</div>
	</div>
</div>


